[submodule "vss-simulator/VSS-Core"]
	path = simulador/VSS-Core
	url = https://github.com/erufes/VSS-Core.git
[submodule "vss-simulator/VSS-SampleCpp"]
	path = simulador/VSS-SampleCpp
	url = https://github.com/erufes/VSS-SampleCpp.git
[submodule "vss-simulator/VSS-Simulator"]
	path = simulador/VSS-Simulator
	url = https://github.com/erufes/VSS-Simulator.git
[submodule "vss-simulator/VSS-Viewer"]
	path = simulador/VSS-Viewer
	url = https://github.com/erufes/VSS-Viewer.git
