<config>
	<colors>
		<color name="blue">
			<lowerbound h="10" s="12" v="15" />		
			<upperbound h="10" s="12" v="15" />
		</color>
		
		<color name="yellow">
			<lowerbound h="10" s="12" v="15" />		
			<upperbound h="10" s="12" v="15" />
		</color>
		
		<color name="orange">
			<lowerbound h="10" s="12" v="15" />		
			<upperbound h="10" s="12" v="15" />
		</color>
		
		<color name="color1">
			<lowerbound h="10" s="12" v="15" />		
			<upperbound h="10" s="12" v="15" />
		</color>

		<color name="color2">
			<lowerbound h="10" s="12" v="15" />		
			<upperbound h="10" s="12" v="15" />
		</color>

		<color name="color3">
			<lowerbound h="10" s="12" v="15" />		
			<upperbound h="10" s="12" v="15" />
		</color>			
	</colors>

	<field>
		<side name="0">
			<corner position="upper-left" x="5" y="8"/>
			<corner position="upper-right" x="5" y="8"/>
			<corner position="bottom-right" x="5" y="8"/>
			<corner position="bottom-left" x="5" y="8"/>
		</side>
		<side name="1">
			<corner position="upper-left" x="5" y="8"/>
			<corner position="upper-right" x="5" y="8"/>
			<corner position="bottom-right" x="5" y="8"/>
			<corner position="bottom-left" x="5" y="8"/>
		</side>
		<length></length>
		<width></width>		
	</field>
</config>
